.root {
    position: relative;
    text-transform: uppercase;
    /* font-family: 'Space Grotesk'; */
    font-weight: bold;
    font-size: 40px;
}

.fore {
    padding: 5px;
    position: relative;
    z-index: 2;
    
    
    color: var(--background);
}

.back {
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 0; left: 0;
    
    width: 100%;
    backdrop-filter: blur(10px) opacity(100%) ;
    
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 164, 252);
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 5px rgb(255, 164, 252);
}

.glow {
    padding: 5px;
    position: absolute;
    top: 0; left: 0;
    z-index: 0;

    width: 100%;

    background: linear-gradient(50deg, rgb(88, 136, 238), rgb(88, 136, 238), rgb(222, 55, 255), rgb(255, 55, 75), rgb(255, 238, 55));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
