.root {
    position: relative;
    /* text-transform: uppercase; */
    font-family: 'almendra sc';
    font-weight: bold;
    font-size: 40px;
}

.fore {
    padding: 5px;
    position: relative;
    z-index: 2;

    background:
        linear-gradient(45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
        linear-gradient(45deg, hsla(42deg, 100%, 70%, 1), hsla(25deg, 73%, 60%, 1)),
        url(/src/assets/graphics/noise.webp) repeat;
    background-size: 150%;
    background-blend-mode: color;

    background-blend-mode: color;
    -webkit-background-clip: text;
        
    color: hsla(25deg, 73%, 60%, 1);
    font-weight: normal;
    text-shadow: none;
    
    /* color: var(--background); */
}

.back {
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 0; left: 0;
    
    width: 100%;
    backdrop-filter: blur(5px) opacity(100%) ;
    
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--gold-1);
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 5px var(--gold-1);
}

.glow {
    padding: 5px;
    position: absolute;
    top: 0; left: 0;
    z-index: 0;

    width: 100%;

    background: linear-gradient(50deg, var(--gold-1), var(--gold-1), var(--gold-2), var(--gold-2), var(--gold-2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
