.list {
    width: 100%;
    /* overflow: hidden; */
    display: flex;
    gap: 24px;
    justify-content: center; /* Temporary until we have a scrolling container. */
}

.dropcard {
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 33%;
    min-width: 240px;
    padding: 16px;

    border-radius: 20px;
    box-shadow: 0 0 0 1px var(--chrome-2);

    color: var(--foreground)
}

.artStage {
    position: relative;

    padding-bottom: 100%;
    
    /* box-shadow: 0 0 0 1px var(--chrome-2); */
    background-color: var(--chrome-2);
    border-radius: 8px;

    /* transition: box-shadow 320ms ease-out; */
    overflow: hidden;
}

.art {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.collection {
    position: relative;
    z-index: 10;

    width: 100px;
    height: 100px;

    margin: -96px auto 0;

    background-color: var(--chrome-3);
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--chrome-2), 0 0 0 10px var(--background);
    transition: box-shadow 320ms ease-out;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.name {
    font-size: 18px;
    font-weight: 500;
}

.timer {
    font-family: 'Space Mono';
    font-size: 12px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    gap: 8px;
    width: 100%;
}

.sizzle {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 3px 6px;
    border: 1px solid var(--chrome-2);
    /* border: 1px solid var(--gold-1); */
    border-radius: 8px;
    /* box-shadow: 0 0 5px var(--gold-2), 0 0 3px var(--gold-2) inset; */
}

@media (max-width: 1150px) {
    .dropcard {
        padding: 8px;
    }

    .art {
        border-radius: 12px;
    }

    .collection {
        width: 62px;
        height: 62px;

        margin: -56px auto 0;

        box-shadow: 0 0 0 1px var(--chrome-2), 0 0 0 6px var(--background);
    }
}

@media (max-width: 800px) {
    .list {
        flex-wrap: wrap;
    }
}