.root {
    display: flex;
    padding: 6px 4px;
    border-bottom: 1px solid var(--chrome-2);
}

.item {
    position: relative;
    transition: 240ms ease-out transform;
}

.disk {
    position: relative;
    
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-right: -20px;

    overflow: clip;

    background: var(--chrome-2);
    box-shadow: 0 0 0 1px var(--chrome-1);

    transition: 240ms ease-out transform, 320ms ease-out box-shadow;

    cursor: pointer;
}

.image {
    max-width: 100%;
}

.disk:hover {
    z-index: 10;
    transform: scale(1.2);
    box-shadow: 0 0 0 3px var(--chrome-1);
}

.item:hover ~ .item {
    /* transform: translateX(2px); */
}

.item:hover + .item {
    z-index: 5;
}

.item:hover .tip {
    transform: translateY(-24px);
    opacity: 1;
}

.tip {
    position: absolute;
    top: 0; left: 0;
    white-space: nowrap;

    padding: 2px 4px;
    background-color: var(--chrome-1);
    border-radius: 4px;
    box-shadow: 0 0 0 1px var(--chrome-3);

    opacity: 0;
    
    font-size: 10px;
    text-transform: uppercase;

    transition: 240ms ease-out opacity, 240ms ease-out transform;
}