.root {
    display: flex;
    flex-direction: column;
    gap: 62px;
}

.mint {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/* The minting stage. */
.mint > *:nth-child(2) {
    width: 100%;
}
