.root {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--foreground);
    border-radius: 8px;
    
    color: var(--background);
    font-family: 'Almendra SC';
    font-size: 38px;
    font-weight: 1000;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;
}