.list {
    width: 100%;
    /* overflow: clip; */
    display: flex;
    gap: 24px;
}

.card {
    width: 25%;
    height: 240px;
    border-radius: 20px;
    box-shadow: 0 0 0 1px var(--chrome-2);
}