.root {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.body {
    display: flex;
    gap: 38px;
}

.main {
    width: 62%;
}

.aside {
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.asideGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;

    padding: 16px;

    border-bottom: 1px solid var(--chrome-2);
}

.asideGroup:last-child {
    /* border: none; */
}

.asideLabel {
    font-weight: 600;
}

.asideRow {
    display: flex;
    gap: 12px;
    align-items: center;
}

.asideCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.subtitle {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

.couple {
    display: flex;
    align-items: center;
    gap: 4px;
}

.actions {
    display: flex;
    gap: 16px;
}

.txTable {
    /* box-shadow: 0 0 0 1px var(--chrome-2); */
    border-radius: 20px;

    /* padding: 24px; */
    width: 100%;

    text-align: left;

    transition: 320ms ease-out box-shadow;
}

.txTh, .txTd {
    padding: 8px 0;
}

.txTh > *, .txTr > * {
    display: table-cell;
}

.paginationHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination {
    display: flex;
    justify-content: flex-end;

    padding: 16px 0;

    font-size: 12px;
    text-align: center;
}

.pagination > * {
    width: 60px;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .body {
        flex-direction: column;
    }
    .main, .aside {
        width: 100%;
    }
}