.root {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 2em;
    box-sizing: border-box;
}

.empty {
    justify-content: center;
    width: 100%;
    height: 100%;
}

.col3 {
    width: 33%;
}
