:root {
    --chrome-1-dark: #000;
    --chrome-2-dark: #333;
    --chrome-3-dark: #666;
    --chrome-4-dark: #999;
    --chrome-5-dark: #CCC;
    --chrome-6-dark: #FFF;
    --chrome-1-light: #FFF;
    --chrome-2-light: #CCC;
    --chrome-3-light: #999;
    --chrome-4-light: #666;
    --chrome-5-light: #333;
    --chrome-6-light: #000;

    --chrome-1: var(--chrome-1-dark);
    --chrome-2: var(--chrome-2-dark);
    --chrome-3: var(--chrome-3-dark);
    --chrome-4: var(--chrome-4-dark);
    --chrome-5: var(--chrome-5-dark);
    --chrome-6: var(--chrome-6-dark);

    --background: var(--chrome-1-dark);
    --foreground: var(--chrome-6-dark);
};

html {
    --background: var(--chrome-1-dark);
    --foreground: var(--chrome-6-dark);

    --chrome-1: var(--chrome-1-dark);
    --chrome-2: var(--chrome-2-dark);
    --chrome-3: var(--chrome-3-dark);
    --chrome-4: var(--chrome-4-dark);
    --chrome-5: var(--chrome-5-dark);
    --chrome-6: var(--chrome-6-dark);
}

html[data-theme=light] {
    --background: var(--chrome-1-light);
    --foreground: var(--chrome-6-light);

    --chrome-1: var(--chrome-1-light);
    --chrome-2: var(--chrome-2-light);
    --chrome-3: var(--chrome-3-light);
    --chrome-4: var(--chrome-4-light);
    --chrome-5: var(--chrome-5-light);
    --chrome-6: var(--chrome-6-light);
}

html, body, #root {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    background-color: var(--background);
    color: var(--foreground);

    transition: background-color 320ms ease-out, color 320ms ease-out;

    font-family: inter, sans-serif;
}

@supports (font-variation-settings: normal) {
    html, body, #root {
        font-family: 'InterVariable', sans-serif;
    }
}

* {
    box-sizing: border-box;
}

a:not(.no-fancy), a:link:not(.no-fancy), a:visited:not(.no-fancy), a:active:not(.no-fancy), a:hover:not(.no-fancy) {
    font-weight: 500;
    background: linear-gradient(50deg, rgb(88, 136, 238), rgb(222, 55, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    transition: filter 200ms ease-out;
}

a:hover:not(.no-fancy) {
    filter: brightness(150%);
}

a.no-fancy {
    text-decoration: none;
    color: var(--foreground);
}

h1 {
    font-size: 3em;
}